/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$cyan-palette,900);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);
$my-typography: mat.define-typography-config(
  $font-family: 'Ubuntu',
);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: $my-typography,
));


@font-face {
  font-family: 'OldAnticDecorative';
  src: url(./assets/font/OldAnticDecorative.ttf) format("TrueType");
}

@font-face {
  font-family: 'Motairah';
  src: url(./assets/font/Motairah.otf) format("OpenType");
}

/* You can add global styles to this file, and also import other style files */





html, body{ height:auto;}

@media(max-width:650px){
  html, body{height:auto;}
}

body { margin: 0;}

